@import "../css/variables.css";

section {
	padding: 0;
	width: 60%;
	background-color: var(--clr-grey-8);
	border-radius: 5px 0 0 0;
}
.tab-btn {
	font-size: 1rem;
	padding: 10px 15px;
	border-radius: 5px 20px 0 0;
	margin-right: -5px;
}
.tab-btn.active {
	background-color: #fff;
}
.tab {
	padding: 0 15px;
	display: none;
}
.tab.active {
	display: block;
}