@import "../css/variables.css";

body {
  background-color: var(--clr-grey-10);
}

/*
=============== 
Main
===============
*/
.container {
  text-align: center;
}
.container h2 {
  color: var(--clr-white);
  background-color: var(--clr-black);
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.color {
  color: var(--clr-primary-5);
}
