@import "../css/variables.css";
body {
  color: var(--clr-grey-1);
  background-color: var(--clr-grey-10);
}

/*
===========
Counter
===========
*/
.container {
  text-align: center;
}
#value {
  font-size: 6rem;
}